{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block extra_css %}
<style>
/* light grey background for login page to contrast white card */
body {
    background-color: #e9ecef;
}
</style>
{% endblock %}

{% block content %}
<div class="row justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="col-md-4">
        <div class="card shadow-lg bg-light border">
            <div class="card-body">
                <h2 class="card-title mb-4 text-center">Login</h2>
                {% if form.errors %}
                    <div class="alert alert-danger">
                        Por favor corrija os erros abaixo.
                    </div>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_username" class="form-label">Usuário</label>
                        <input type="text" name="username" autofocus required id="id_username" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="id_password" class="form-label">Senha</label>
                        <input type="password" name="password" required id="id_password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Entrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
