<h2>Ficha de Exercícios</h2>

<form>

<label>Aluno</label>
<input type="text" name="aluno">

<label>Objetivo</label>
<textarea name="objetivo"></textarea>

<label>Histórico patológico</label>
<textarea name="hp"></textarea>

<label>Flexibilidade</label>
<textarea name="flexibilidade"></textarea>

<label>Dominância muscular</label>
<textarea name="dominancia"></textarea>

<label>Observações</label>
<textarea name="obs"></textarea>

<label>Dia</label>
<input type="date" name="dia">

<label>Mês</label>
<input type="month" name="mes">

<button type="submit">Salvar</button>

</form>